@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@100;400&display=swap');


header {
    color: rgba(255, 255, 255, 0.9);

}
/* 
.navbar-color {
    background-color: rgba(54, 55, 58, 0.9);

} */

.navContainer {
    width: 80vw;
}

.nav {
    /* font-family: 'Titillium Web'; */
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

.nav a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, .5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid rgb(107, 133, 113);
    border-right: 3px solid rgb(74, 99, 80);
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid rgb(107, 133, 113);
    border-left: 3px solid rgb(74, 99, 80);
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav a:hover {
    color: (74, 99, 80);
}

.headFont {
    font-family: 'Cinzel', serif;
}